<!-- <h2 mat-dialog-title>Formulario de Editar</h2>
<div mat-dialog-content>
  <p>Nombre: {{ data.nombre }}</p>
  <p>Cedula: {{ data.cedula }}</p>  
  <p>Numero de ID: {{ data.id }}</p>
  <p>Rol: {{ data.rol }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
  
</div> -->

<!-- <h2 mat-dialog-title>Formulario de Editar</h2>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <h4>Nombre usuario</h4>
    <mat-form-field>      
      <input matInput placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" required>
    </mat-form-field>
    <h4>Cedula usuario</h4>
    <mat-form-field>
      <input matInput placeholder="Cedula" [(ngModel)]="data.cedula" name="cedula" required>
    </mat-form-field>
    <h4>Identificacion del usaurio</h4>
    <mat-form-field>
      <input matInput placeholder="Numero de ID" [(ngModel)]="data.id" name="id" required>
    </mat-form-field>
    <h4>Rol del usuario</h4>
    <mat-form-field>
      <input matInput placeholder="Rol" [(ngModel)]="data.rol" name="rol" required>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
      <button mat-button (click)="onNoClick()">Cerrar</button>
    </div>
  </form>
</div>
 -->


 <h2 mat-dialog-title>Formulario de Editar</h2>
 <div mat-dialog-content>
   <form (ngSubmit)="onSubmit()">
     <div>
       <h4>Nombre usuario</h4>
       <mat-form-field>
         <input matInput placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" required>
       </mat-form-field>
     </div>
     
     <div>
       <h4>Cedula usuario</h4>
       <mat-form-field>
         <input matInput placeholder="Cedula" [(ngModel)]="data.cedula" name="cedula" required>
       </mat-form-field>
     </div>
     
     <div>
       <h4>Identificacion del usuario</h4>
       <mat-form-field>
         <input matInput placeholder="Numero de ID" [(ngModel)]="data.id" name="id" required>
       </mat-form-field>
     </div>
     
     <div>
       <h4>Rol del usuario</h4>
       <mat-form-field>
         <input matInput placeholder="Rol" [(ngModel)]="data.rol" name="rol" required>
       </mat-form-field>
     </div>
 
     <div mat-dialog-actions>
       <button mat-raised-button color="primary" type="submit">Guardar</button>
       <button mat-button (click)="onNoClick()">Cerrar</button>
     </div>
   </form>
 </div>
 