.custom-save-button {
  background-color: #00ff4c;
  color: #0b9907;
  /* Otros estilos personalizados */
}

.custom-close-button {
  background-color: #dc3545;
  color: #811212;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.custom-close-button:hover {
  background-color: #c82333;
}

.custom-close-button:focus {
  outline: none;
}

.custom-close-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

