
h2 {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 10px;
}


.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button[type="submit"] {
  margin-right: 10px;
}
