<div class="login-container">
    <div id="boxForm">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>LOGIN</h1>
        <div class="form-group">
          <label for="">Correo electrónico</label><br>
          <input type="text" placeholder="email" formControlName="username"/>
          <mat-error *ngIf="loginForm.controls['username'].hasError('required')"><br>
            <strong>Requerido</strong>
          </mat-error> 
        </div>
         
        <div class="form-group">
          <label for="">Contraseña</label><br>
          <input type="password" placeholder="Password" formControlName="password"/><br>
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            <strong>Requerido</strong>
          </mat-error>
        </div><br>
        <button type="submit" mat-input>Ingresar</button>
      </form>
      <a href="#">¿Olvidaste tu contraseña?</a>
    </div>
  </div>

